.encabezado{
    height: 50vh;
    background-image: url(./img/despegando.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
}
.texto_encabezado{
    color: #E0DFD5;
}
.tarjeta_destino{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card-img-top{
    width: 50vh;
    height: 50vh;
}