*{
    padding: 0px;
    margin: 0px;
}
.barra{
    background-color: #161B33;
    height: 70px;
}
.barra__inicio1{
    position: relative;
    text-decoration: none;
    top: 25px;
    left: 900px;
}
.barra__inicio2{
    position: absolute;
    top: 25px;
    left: 1000px;
    text-decoration: none;
}
.barra__inicio3{
    position: absolute;
    top: 25px; 
    left:1100px ;
    text-decoration: none;
}
.barra__inicio4{
    position: absolute;
    top:25px;
    left:1250px ;
    text-decoration: none;
}

.nombre__pagina{
    color: #F0D3F7;
    position: absolute;
    top: 15px;
}
.info__nosotros{
    width:300px;
    height:auto; 
    display:inline-block; 
    border-radius:20px;
    box-shadow: 10px 10px 17px -1px rgba(0,0,0,0.16);
    margin:20px;
    padding:20px 20px 30px 20px;
    position: relative;
    top: 50px;
    left: 500px;
}
.nuestras__redes1{
    text-decoration: none;
    position: relative;
    bottom: 0px;
    left: 300px;
}
.nuestras__redes2{
    text-decoration: none;
    position: relative;
    bottom: 0px;
    left: 300px;
 }
 .nuestras__redes3{
        text-decoration: none;
        position: relative;
        bottom: 0px;
        left: 300px;
}
